html,

* {
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  width: 40%;
  border: 5px solid #B9BCBC;
  padding: 10px;    
}
.wrapper > div > table > tbody > tr {
  font-size: 12px;
}
.wrapper > div > table > tbody > tr > td {
  font-size: 12px;
}
.wrapper > div > table > tbody > tr > td > strong {
  font-size: 14px;
}